html, body {
    height: 100%; 
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: none;
    background: #204d74 !important;
}


#map_container {
    position: relative;
    height: 100%
}

#map { 
    height: 100%;
    width: 100%;
    float: right;
    min-height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 60%;
}

.list_container {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
}

.list {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none; 
    overflow: auto;
}

.list-element {
    width: 100%;
    font-size: 15px;
    color: #2F576E;
    background-color: white !important;
    border: 1px solid #2F576E;
    padding: 10px 20px 10px 10px;
}

#heading {
    background-color: #2D767F  !important;
    color: #ECFFFB;
    font-family: 'Verdana';
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 10px;
}
#search{
    color: #000;
}

.hamburger{
    cursor: pointer;
    padding: 15px;
    display: none;
    float: right;
}

.line{
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
}

.line:last-child{
    margin-bottom: 0;
}
.location{
    
}

@media screen and (max-width: 800px){ 
    nav li{
        width: 100%;
    }
    .list_container{
        height: 0;
        overflow: auto;
    }
    .hamburger{
        display: inline;
    }
    .open{
        height: 100%;
    }
}
